<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/hover.css")
        link(href='media/blueIcon.png', rel='icon')
        title berta - Finish
    body
      nav
        .n-left
          h1 &nbsp
        .n-right
          img(src="media/lightIcon.svg", class="hvr-shrink")
      .end
        img(src="media/end.svg", class="hvr-buzz")
      p(class="close") You can close this page now.